@use '../helpers' as *;

.metrics{
    &__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &:first-child{
            padding-left: var(--container-padding-x);
        }
    }

    &__item{
        display: flex;
        flex-direction: column-reverse;
        row-gap: rem(10);
        padding: rem(50);

        @include laptop{
            padding-block: rem(30);
            padding-inline: rem(40);
            row-gap: rem(2);
        }
        @include tablet{
            row-gap: 0;
            padding-left: rem(20);
        }
        &:first-child{
            padding-left: 0;
        }

        &:not(:last-child){
            border-right: var(--border);
        }
    }

    &__value{
        font-weight: 600;
    }

    &__sign{
        color: var(--color-accent);
    }
}